<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>mainPage</h3>
<ul>
    <li><a href="/gugu">문제1번</a></li>
</ul>
<ul>
    <li><a href="/itemlist">문제2번</a></li>
</ul>
<hr>
<ul>
    <h2>문제3번</h2>
    <li><a href="/articles/list">list_all</a></li>
    <li><a href="/articles/{id}">list_one</a></li>
    <li><a href="/articles/new">new</a></li>
    <li><a href="/articles/{id}/update">update_ok</a></li>
    <li><a href="/articles/update">update</a></li>
    <li><a href="/articles/{id}/delete">delete_ok</a></li>
    <li><a href="/articles/{id}/articleComment">comment_view</a></li>
    <li><a href="/articles/{id}/articleComments/{article-comment-id}/delete">delete_comment_ok</a></li>

    <hr>

    <table border="1">
        <thead>
        <tr>
            <td>url</td>
            <td>method</td>
            <td>출력내용</td>
            <td>html page</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>전체 게시글 읽기 성공</td>
            <td>list_all.html</td>
        </tr>
        <tr th:with="id=7, name='tom'">
            <td>url</td>
            <td>GET</td>
            <td><a th:href="@{|/articles/${id}|}">[[${id}]]번 게시글 읽기 성공</a></td>
            <td>list_one.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>톰의 키는 180, 몸무게는 80입니다.</td>
            <td>new.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>업데이트 성공하면 출력</td>
            <td>update_ok.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>7번 게시글 수정 폼 로딩 완료</td>
            <td>update.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>15번 게시글의 3번재 답글 삭제 완료</td>
            <td>delete_ok.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>11번 게시글의 모든 댓글보기 성공</td>
            <td>comment_view.html</td>
        </tr>
        <tr>
            <td>url</td>
            <td>GET</td>
            <td>15번 게시글의 3번째 답글 삭제 완료</td>
            <td>delete_comment_ok.html</td>
        </tr>
        </tbody>
    </table>
</ul>
</body>
</html>